.shopcategory-banner{
     display: block;
     margin:30px auto;
     width:95%;
     margin-left: 100px;
}
.shopcategory-index{
      display: flex;
      margin:0px 170px;
      justify-centent:space-between;
      align-items: center;
}
.shopcategory-sort{
        padding: 10px 20px;
        border-radius: 10px;
        border:1px solid #888;
}
.shopcategory-index p span{
    font-weight: 600; 
}
.shopcategory-products{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    margin-top:50px;
    gap:30px;
    padding-left: 20px;

}
.shopcategory-loadmore{
        display: flex;
        justify-content: center;
        align-items: center;
        margin:150px auto;
        width:233px;
        height:69px;
        border-radius: 75px;
        background:rgb(255, 121, 63);
        color:white;
        font-size: 19px;
        font-weight: 500;
}