.relatedproducts {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  height: 90vh;
  
}

.relatedproducts h1 {
  color: rgb(255, 121, 63);
  font-weight: 500;
  font-size: 50px;
  margin-bottom: 10px;
}

.items {
 
   display: flex;
    margin-top: 30px;
    gap:30px;
    padding: 0px 140px;
}

