.popular{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    height: 70vh;
}
.popular h1{
    color:  rgb(255, 121, 63);
    font-weight: 500;
}
.popular-item{
    display: flex;
    margin-top: 30px;
    gap:30px;
    padding: 0px 140px;
    margin-bottom: 150px;
    

}
